
.radio-button > .radio  {
   -fx-background-color: transparent;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: #bb86fc;
}
.radio-button > .radio > .dot {
   -fx-border-color: #ffffff;
   -fx-border-width: 1px;
   -fx-border-radius: 25px;
}